@media (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
  .header  {
    left: 100px;
    right: 100px;
  }
  .header__content  {
    width: 50%;
  }
  .slick-dots {
    left: 100px;
  }
  .header-slider{
    overflow: hidden;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .advantages__info  {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
